html,
body {
  margin: 0;
  padding: 0;
  font-family: system, "Helvetica Neue", Helvetica, Arial;
  font-size: 13px;
  /* min-width: 976px; */
  overflow: hidden;
  height: 100%;
}

.topbar {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;
  width: 100%;
  height: auto;
}
#langlist li {
  float: left;
  list-style: none;
  background-color: gray;
  width: 50px;
  text-align: center;
  line-height: 30px;
}

#langlist li:hover {
  background-color: orange;
  color: black;
  border: 2px;
  border-radius: 5px;
}

#listcover ul {
  display: flex;
  justify-items: center;
  padding: 5px;
  background-color: gray;
  border: 2px;
  border-radius: 5px;
}

.toggle {
  color: tomato;
}
