html,
body {
  margin: 0;
  padding: 0;
  font-family: system, "Helvetica Neue", Helvetica, Arial;
  font-size: 13px;
  /* min-width: 976px; */
  overflow: hidden;
  height: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: beige;
  width: 100%;
  height: auto;
}

#langlist li {
  float: left;
  list-style: none;
  background-color: gray;
  width: 50px;
  text-align: center;
  line-height: 30px;
}

#langlist li:hover,
button:hover {
  background-color: orange;
  color: black;
  border: 2px;
  border-radius: 5px;
}

#listcover ul {
  display: flex;
  justify-items: center;
  padding: 5px;
  background-color: gray;
  border: 2px;
  border-radius: 5px;
}

.toggle {
  color: tomato;
}

label {
  background-color: brown;
  line-height: 2em;
}

#header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 10em;
  text-align: left;
  font-size: large;
  color: #333;
  background-color: beige;
}

button {
  float: left;
  width: 40px;
  height: 20px;
  background-color: gray;
}

#buttondiv {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* EDITOR BOXES */

.editorsdiv {
  display: flex;
  flex-flow: row;
  /* padding-left: 100px; */
  justify-content: space-evenly;
}

.editors label {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

textarea {
  width: 400px;
  height: 400px;
}
#result {
  width: 100%;
}
